---
layout: default
---

<div class="home">
	<div class="body-col-wrapper" style="border-bottom:1px solid #e8e8e8; margin-bottom:25px;">
		<div class="body-col body-col-1-2-left">
			<p>Hello, I am Sabine.</p>
			<p>I am a software developer at <a href="https://mercedes-benz.io/" target="_blank">Mercedes-Benz.io</a> where I work on a new iOS app. I started progamming in July 2013, mostly self-taught with online classes, then landed an internship at nxtbgthng for Berlin Philharmie's Digital Concerthall, worked for  <a href="https://wire.com/en/" target="_blank">Wire</a> from September 2014 to July 2017.</p>
			<p>In my spare time I make use of my previous occupation as Online Marketer and organize <a href="http://www.uikonf.com" target="_blank">UIKonf</a> - Berlins independent iOS conference, which grew from 250 to 500 participants in those last 4 years.</p>
			<p>Before I came to Berlin, I was a scientist, searching for new treatments for cancer and other diseases.</p>
				
		</div>
		<div class="body-col body-col-1-2-right">
			<img src="/static/sabine-geithner.jpg" style="float:right;"/>
		</div>
	</div>
		
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
		{% if post.description %}
			<p>{{ post.description }}</p>
		{% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
